body{
    background-image: url("./img/got.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
    position: relative;


}
header{
    height: 300px;
}

p{
   color: MIDNIGHTBLUE;
   font-size: 38px;
   text-align: center;
   font-family: 'Just Another Hand', cursive;

}
footer{
    position: absolute;
    top: 90%;
    margin: 30px;
    align-self: center;
    text-align: center;
    opacity: 0.6;
    background-color:gray;
    padding: 30px;
    position: relative;
    left: center;
    top: center;
    border-radius: 20px;
}
img{
    height: 100px;
    width: 200px;
    
}
h2{
    text-align: center;
    color: pink;

}
#logo{
    position: absolute;
    left: 35%;
    top: 10%;
}
main{
    align-self: center;
    text-align: center;
    opacity: 0.6;
    background-color:gray;
    padding: 30px;
    position: relative;
    left: center;
    top: center;
    border-radius: 20px;
}
  #character , h2{
    font-family: 'BioRhyme Expanded', serif;
    font-size: 20px;
    color:  MIDNIGHTBLUE;
    text-shadow: 5px black;

}
input{
    height: 30px;
    width: 200px;
}
label , #quote{
    font-family: 'Just Another Hand', cursive;
  color:  MIDNIGHTBLUE;
  font-size: 40px;
  font-weight: bolder;



}

li{
    list-style: none;
}
ul {
    display: none;
    visibility: inherit;
  }

  #fav{
      color: white;
      height: 200px;
      width: 100px;     
  }
  nav{
      height: 200px;
      width: 100px;
  }
